/* Filename: _header.scss */

@import "_patterns";


.header-fixed {
	background-color:#fff;
	// box-shadow:0 1px 1px #ccc;
	padding: 20px 40px;
	color: #ffffff;
	-webkit-transition:top 0.3s;
	transition:top 0.3s;

  .logo {
    a {
      float: left;
      font-family: $archivo;
      line-height: 40px;
      margin: 0;
    }
     
  }

  .header-limiter {
    // max-width: 1200px;
    // text-align: center;
    // margin: 0 auto;
    display: flex;
    justify-content: space-between;

    .menu {
      display: flex;
    }

     a {
        color: $black;
        text-decoration: none;
      }

      nav {
      
        float: right;

        a {
          font-size: .9rem;
          display: inline-block;
          padding: 0 15px;
          text-decoration:none;
          color: $black;
          opacity: 0.9;

          &:hover{
            opacity: 1;
          }
        }
      }
  }
}




/* Making the header responsive */

@media all and (max-width: 600px) {

	.header-fixed {
		padding: 20px 0;
		height: 75px;

    .header-limiter{
      h1 {
          float: none;
          margin: -8px 0 10px;
          text-align: center;
          font-size: 24px;
          line-height: 1;
        }

        nav {
          line-height: 1;
          float:none;

          a {
            font-size: 13px;
          }
      }
    }
	}


}
