/* Colors */

$gray-100: #f8f8f8;
$gray-300: #ccc;
$gray-500: #a6a6a6;
$gray-700: #2D3748;
$gray-900: #1A202C;
$black: #2d2d2d;


$green: #3CCF91;
$purple: #5132BF;
$orange: #F6A20E;
$light-green: #22c35e;
$mint-green: #68D391;
$faint-green: #65e495;


/* Fonts */

$roboto: 'Roboto',  Helvetica, Arial, sans-serif;
$archivo: 'Archivo Black', Helvetica, Arial, sans-serif;
$inter: 'Inter',"Segoe UI", Helvetica, Arial, sans-serif;


/* Breakpoints */
$xx-small: 360px;
$x-small: 420px;
$small: 500px;
$medium: 650px;
$large: 720px;
$x-large: 980px;
$xx-large: 1200px;